{% load static %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html>
    <link href="{% static 'CSS/index.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<head>
    <Title>WAISN Fellowship Database</Title>
</head> 
    <body>
        {% if create_error_flag %}
            <script>alert("Cannot create product - that product already exists. Please use the 'Update Existing Product' form to alter the quantity of a product that is already in the system.")</script>  
        {% endif %}
        {% if update_error_flag %}
            <script>alert("Cannot update product because it does not exist. Check spelling and capitalization before trying again.")</script>  
        {% endif %}
        {% if delete_error_flag %}
            <script>alert("Cannot delete product because it does not exist. Check spelling and capitalization before trying again.")</script>  
        {% endif %}
        
        
        <h1 class="title">WAISN Fellowship Inventory Management</h1>
        <div class="row">
            
            <div class="thin-column">                  
                {% if product_list %}
                    {% render_table product_list %}  
                {% else %}
                    <h2 style="padding:0px 20px 0px 20px; text-align: center;">No products are being monitored.</h2>
                {% endif %}
            </div>
            
            <div class="container">
                <div class="stripe">
                    <div class="column">
                
                        <h2>Create new product</h2>
                        <div class="instructions">Fill the "Product Name" box with the name of the new product to be added. </div>
                        <div class="instructions">Fill the "Product Quantity" with the amount of that new product you are adding to the inventory.</div>
                        <form action="{% url 'index' %}" method="POST" placeholder="Apple">
                            {% csrf_token %}

                            <div class="custom-form">
                                {{create_product_form}}
                                <input class="input-button" type="submit" name="create" value="Create">
                            </div>
                        </form> 

                        <h2>Update Existing Product</h2>
                        <div class="instructions">Fill the "Product Name" box with the name of the existing product whose quantity you are trying to change. </div>
                        <div class="instructions">Fill the "Product Quantity" with the new amount of that product in the inventory.</div>
                        <form  action="{% url 'index' %}" method="POST" placeholder="Apple">
                            {% csrf_token %}

                            <div class="custom-form">
                                {{update_product_form}}
                                <input class="input-button" type="submit" name="update" value="Update">
                            </div>
                        </form>   

                        <h2>Delete Existing Product</h2>
                        <div class="instructions">Fill the "Product Name" box with the name of the product you wish to delete. </div>
                        <form  action="{% url 'index' %}" method="POST" placeholder="Apple">
                            {% csrf_token %}

                            <div class="custom-form">
                                {{delete_product_form}}
                                <input class="input-button" type="submit" name="delete" value="Delete">
                            </div>
                        </form>  
                    
                    </div>
                 </div>
            </div>
        </div>
        
        <div class="footer"></div>
        
    </body>
</html>
